{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Error 404</title>
    <link rel="stylesheet" href="{% static 'css/404.css' %}">
</head>
<body>

<a href="http://www.thedresscounter.com" target="_blank">
  <header class="top-header">
</header>

<!--dust particel-->
<div>
  <div class="starsec"></div>
  <div class="starthird"></div>
  <div class="starfourth"></div>
  <div class="starfifth"></div>
</div>
<!--Dust particle end--->


<div class="lamp__wrap">
  <div class="lamp">
    <div class="cable"></div>
    <div class="cover"></div>
    <div class="in-cover">
      <div class="bulb"></div>
    </div>
    <div class="light"></div>
  </div>
</div>
<!-- END Lamp -->
<section class="error">
  <!-- Content -->
  <div class="error__content">
    <div class="error__message message">
      <h1 class="message__title">Strona nie została znalezona</h1>
      <p class="message__text">Przepraszamy, strona, której szukasz, nie została tutaj znaleziona.  Link, z którego skorzystałeś, może być uszkodzony lub już nie istnieje.  Spróbuj ponownie.</p>
    </div>
    <div class="error__nav e-nav">
      <a href="http://www.thedresscounter.com" target="_blanck" class="e-nav__link"></a>
    </div>
  </div>
  <!-- END Content -->

</section>

  </a>

</body>
</html>