<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YGRRRFDHZS"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YGRRRFDHZS');
    </script>

    <link rel="icon" href="{% static 'img/bcp.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/glowna.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/posty.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/kontakt.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/wiecej.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BezpiecznaCyberPrzestrzeń</title>
</head>
<body>

<main id="total-main">

    <header>
        <div id="menuToggle">

          <input type="checkbox" />

          <span></span>
          <span></span>
          <span></span>

          <ul id="menu">
            <a href="{% url 'glowna' %}"><li>Strona główna</li></a>
            <a href="{% url 'posty' %}"><li>Posty</li></a>
            <a href="{% url 'kontakt' %}"><li>Kontakt</li></a>
            <a href="{% url 'wiecej' %}"><li>Więcej</li></a>
          </ul>
        </div>


            <p id="header-paragraph">BezpiecznaCyberPrzestrzeń</p>

        <div id="cos">
            <div id="icons">
                <a href="https://www.facebook.com/profile.php?id=61553695965302"><i class="bi bi-facebook"><img src="{% static 'img/facebook.svg' %}" alt="facebook"></i></a>
            </div>
        </div>

    </header>

    <section id="main-section">

        {% block content %}
        {% endblock %}

    </section>

    <footer>2023 © BezpiecznaCyberPrzestrzeń</footer>

</main>

</body>
</html>