{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>BezpiecznaCyberPrzestrzeń</title>
    <link rel="icon" href="{% static 'img/bcp.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<main>

    <header>
        <div id="menuToggle">

          <input type="checkbox" />

          <span></span>
          <span></span>
          <span></span>

          <ul id="menu">
            <a href="{% url 'glowna' %}"><li>Strona główna</li></a>
            <a href="{% url 'posty' %}"><li>Posty</li></a>
            <a href="{% url 'nauka' %}"><li>Nauka</li></a>
            <a href="{% url 'kontakt' %}"><li>Kontakt</li></a>
          </ul>
        </div>

        <p>BezpiecznaCyberPrzestrzeń</p>

    </header>

    <section>

        {% block content %}
        {% endblock %}

    </section>

    <footer>2023 © BezpiecznaCyberPrzestrzeń</footer>

</main>

</body>
</html>