{% extends 'strona/base.html' %}
{% load static %}
{# https://stormit.pl/pomysl-na-projekt/ #}
{% block content %}
<div id="container-glowna">

  <section id="baner">
    <div class="container-glowna">
      <div class="wrapper">
        <h1 class="animate__slideInDown">Cyberbezpieczeństwo</h1>
      </div>
    </div>
  </section>

  <div id="img"><img src="{% static 'img/bcp.png' %}" alt="logo"></div>

  <div class="proj">
    <p>"BezpiecznaCyberPrzestrzeń" to projekt edukacyjny.
    Naszym celem jest zwiększenie świadomości i umiejętności związanych z ochroną danych oraz zabezpieczeniem wirtualnej przestrzeni.
    Poprzez szkolenia online, staramy się wyposażyć uczestników w niezbędną wiedzę z zakresu IT,
    aby mogli skutecznie chronić się przed zagrożeniami cybernetycznymi.</p>

    <p>Wierzymy, że edukacja to klucz do skutecznej obrony przed atakami w sieci. "BezpiecznaCyberPrzestrzeń" nie tylko przekazuje podstawowe informacje dotyczące bezpieczeństwa online,
    ale także zachęca do refleksji nad etycznymi aspektami korzystania z technologii.</p>
  </div>

</div>
{% endblock %}