{% extends 'strona/base.html' %}

{% block content %}
<div id="main-nauka">
	<div class="lekcje">
		<a class="link" href="">
			<div class="lekcje-container">
				<div class="lekcje-nazwa">SQL INJECTION</div>
				<hr>
				<div class="lekcje-obraz">
					<img class="lekcje-obrazek" src="https://d1o5lmfp4gliop.cloudfront.net/images/exercises/sql-injection/icon.gif">
				</div>
			</div>
		</a>
	</div>

	<div class="lekcje">
		<a class="link" href="">
			<div class="lekcje-container">
				<div class="lekcje-nazwa">CROSS-SITE SCRIPTING</div>
				<hr>
				<div class="lekcje-obraz">
					<img class="lekcje-obrazek" src="https://d1o5lmfp4gliop.cloudfront.net/images/exercises/sql-injection/icon.gif">
				</div>
			</div>
		</a>
	</div>

	<div class="lekcje">
		<a class="link" href="">
			<div class="lekcje-container">
				<div class="lekcje-nazwa">COMMAND EXECUTION</div>
				<hr>
				<div class="lekcje-obraz">
					<img class="lekcje-obrazek" src="https://d1o5lmfp4gliop.cloudfront.net/images/exercises/sql-injection/icon.gif">
				</div>
			</div>
		</a>
	</div>

	<div class="lekcje">
		<a class="link" href="">
			<div class="lekcje-container">
				<div class="lekcje-nazwa">CLICKJACKING</div>
				<hr>
				<div class="lekcje-obraz">
					<img class="lekcje-obrazek" src="https://d1o5lmfp4gliop.cloudfront.net/images/exercises/sql-injection/icon.gif">
				</div>
			</div>
		</a>
	</div>

	<div class="lekcje">
		<a class="link" href="">
			<div class="lekcje-container">
				<div class="lekcje-nazwa">CROSS-SITE REQUEST FORGERY</div>
				<hr>
				<div class="lekcje-obraz">
					<img class="lekcje-obrazek" src="https://d1o5lmfp4gliop.cloudfront.net/images/exercises/sql-injection/icon.gif">
				</div>
			</div>
		</a>
	</div>
</div>
{% endblock %}