{% extends 'strona/base.html' %}

{% block content %}

<main id="main-posty">

    {% if posts %}
        <div id="posty">
            {%  for post in posts %}
                <div class="post" class="post-img">
                    {% load static %}
                    <p><img src="{% static post.image.url %}" alt="grafika dla postu" class="image"></p>
                    <p class="tekst">{{  post.text }}</p>
                    <p class="data">Opublikowano: {{ post.published_date }}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1 style="color: white;">BRAK POSTÓW DO WYŚWIETLENIA</h1>
    {% endif %}

</main>

{% endblock %}