*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    .bi-facebook img{
        width: 30px;
        height: 30px;
    }
    .bi-instagram img{
        width: 30px;
        height: 30px;
    }
    #total-main{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    header{
        background-color: #7f7c87;
        width: 100%;
        height: 5vh;
        position: sticky;
        top: 0;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header p{
        margin-top: 0.7%;
    }
    #cos{
        position: relative;
        left: 40%;
    }
    #icons{
        display: flex;
        justify-content: right;
        align-items: center;
        margin-right: 10px;
    }
    #main-section{
        flex: 1;
    }
    footer{
        width: 100%;
        height: 5vh;
        background-color: #7f7c87;
        font-size: 25px;
        color: #CCCCCC;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: auto;
    }
    p{
        font-size: 25px;
        color: #CCCCCC;
    }

    #img{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #img img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 300px;
    }

    #menuToggle
     {
       display: block;
       position: absolute;
       top: 25%;
       left: 1%;

       z-index: 1;

       -webkit-user-select: none;
       user-select: none;
     }

     #menuToggle a
     {
       text-decoration: none;
       color: #232323;

       transition: color 0.3s ease;
     }

     #menuToggle a:hover
     {
       color: tomato;
     }


     #menuToggle input
     {
       display: block;
       width: 40px;
       height: 32px;
       position: absolute;
       top: -7px;
       left: -5px;

       cursor: pointer;

       opacity: 0; /* hide this */
       z-index: 2; /* and place it over the hamburger */

       -webkit-touch-callout: none;
     }


     #menuToggle span
     {
       display: block;
       width: 33px;
       height: 4px;
       margin-bottom: 5px;
       position: relative;

       background: #cdcdcd;
       border-radius: 3px;

       z-index: 1;

       transform-origin: 4px 0px;

       transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                   background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                   opacity 0.55s ease;
     }

     #menuToggle span:first-child
     {
       transform-origin: 0% 0%;
     }

     #menuToggle span:nth-last-child(2)
     {
       transform-origin: 0% 100%;
     }


     #menuToggle input:checked ~ span
     {
       opacity: 1;
       transform: rotate(45deg) translate(-2px, -1px);
       background: #232323;
     }


     #menuToggle input:checked ~ span:nth-last-child(3)
     {
       opacity: 0;
       transform: rotate(0deg) scale(0.2, 0.2);
     }

     #menuToggle input:checked ~ span:nth-last-child(2)
     {
       transform: rotate(-45deg) translate(0, -1px);
     }

     #menu
     {
       position: absolute;
       width: 300px;
       margin: -100px 0 0 -50px;
       padding: 50px;
       padding-top: 125px;

       background: #ededed;
       list-style-type: none;
       -webkit-font-smoothing: antialiased;

       transform-origin: 0% 0%;
       transform: translate(-100%, 0);

       transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
     }

     #menu li
     {
       padding: 10px 0;
       font-size: 22px;
     }


     #menuToggle input:checked ~ ul
     {
       transform: none;
     }
